/* Pius Wong */
/* Debug CSS
* {
  border: 1px solid red !important;
}
.debugOutput {
  color: red;
} */

* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: white;
  display: block;
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Copse', serif;
  font-size: 1.5em;
  /* Wood pattern from Atle Mo https://subtlepatterns.com/about/*/
  background: url("../img/wood.png");
  background-repeat: repeat;
  background-position: center top;
}
a {
  text-decoration: none;
  color: #1a63f4;
}
a:hover {
  color: #2fb2ef;
  -webkit-transition: color 0.5s; /*Safari3.1-6.0*/
  transition: color .5s;
}
a:visited {
  color: #6315a8;
}
header {
  width: 100%;
}
#flexContainer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
.infoPrimary {
  width: 33%;
  padding: 0 0.5em 0 0.5em;
  align: center;
}
.infoPrimary .titleCard {
  font-size: 2.3vw;
  font-weight: bolder;
}
.infoPrimary .authorship {
  font-size: 1.5vw;
}
.infoPrimary .authorship a{
  font-weight: bold;
}
.infoPrimary .dateUpdated {
  font-size: 1.5vw;
}
.infoSecondary {
  width: 28%;
  padding: 0.5em;
  font-size: 1.5vw;
}
.startOver {
  width: 33%;
  text-align: center;
}
.startOver button{
  font-family: 'Copse', serif;
  font-size: 2.5vw;
  font-weight: bold;
  padding: 0.5em;
  background-color: white;
  border: 0;
}
main {
  width: 100%;
}
.messageDisplay{
  font-size: 2.5vw;
  text-align: center;
  margin: 0 0.5em 0.5em 0.5em;
}
.mainWindow{
  font-size: 6vw;
  text-align: center;
  font-weight: bold;
}
.mainWindow div {
  flex-grow: 1;
  margin: 0.25em 0.5em 0.25em 0.5em;
}
.mainWindow button{
  font-family: 'Copse', serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  padding: 0.15em 0.6em 0.15em 0.6em;
  background-color: white;
  border: 0;
  margin: 0;
}
footer {
  padding: 0 0.5em 0.5em 0.5em;
}
.achievements{
  text-align: left;
  font-size: 1.5vw;
  font-weight: bold;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}
.achievement{
  font-weight: bold;
  padding-left: 0.5em;
}
#sOverall{
  color: red;
}
.scoreContainer{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
}
.scores{
  font-size: 1.3vw;
  padding-left: 1em;
}
.scores>div{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
}
.scores>div>div:first-child{
  font-weight: bold;
}
.score{
  padding-left: .5em;
}
.finalSentence{
  text-align: left;
  margin: 0 !important;
}
.shareButtons{
  display: inline;
  font-size: 0.5em;
  padding: 0;
}

@media only screen and (max-width: 1280px) {
  .infoPrimary {
    width: 312px;
  }
  .infoPrimary .titleCard {
    font-size: 1.25em;
  }
  .infoPrimary .authorship {
    font-size: 0.8em;
  }
  .infoPrimary .dateUpdated {
    font-size: 0.8em;
  }
  .infoSecondary {
    width: 260px;
    font-size: 0.8em;
  }
  .startOver button{
    font-size: 1.3em;
  }
  .messageDisplay{
    font-size: 1.3em;
  }
  .mainWindow{
    font-size: 3em;
  }
  .achievements{
    font-size: 0.8em;
  }
  .scores{
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 900px) {
  .startOver{
    width: 120px;
  }
  .startOver button{
    font-size: 1em;
  }
}

@media only screen and (max-width: 730px) {
  .infoPrimary {
    width: 280px;
  }
  .infoPrimary .titleCard {
    font-size: 1em;
  }
  .infoPrimary .authorship {
    font-size: 0.7em;
  }
  .infoPrimary .dateUpdated {
    font-size: 0.7em;
  }
  .infoSecondary {
    width: 230px;
    font-size: 0.7em;
  }
  .startOver{
    width: 100px;
  }
  .startOver button{
    font-size: 0.8em;
  }
  .mainWindow{
    font-size: 2.5em;
  }
}


@media only screen and (max-width: 650px) and (min-width: 543px) {
  .startOver{
    width: 150px;
  }
}

@media only screen and (max-width: 380px) {
  .infoPrimary .titleCard {
    font-size: 0.6em;
  }
  .infoPrimary .authorship {
    font-size: 0.5em;
  }
  .infoPrimary .dateUpdated {
    font-size: 0.5em;
  }
  .infoSecondary {
    width: 190px;
    font-size: 0.6em;
  }
  .startOver{
    width: 80px;
  }
  .startOver button{
    font-size: 0.7em;
  }
  .mainWindow{
    font-size: 1.5em;
  }
}
