/* Pius Wong */
/* Debug CSS
* {
  border: 1px solid red !important;
}
.debugOutput {
  color: red;
} */

* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: white;
  display: block;
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Copse', serif;
  font-size: 1.5em;
}
/* Wood patterns from @mikehearn https://www.transparenttextures.com/
body::after {
  content: "";
  background: url("../img/tileable-wood-colored.png");
  background-size: auto;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/
a {
  text-decoration: none;
  color: #1a63f4;
}
a:hover {
  color: #2fb2ef;
  -webkit-transition: color 0.5s; /*Safari3.1-6.0*/
  transition: color .5s;
}
a:visited {
  color: #6315a8;
}
header {
  width: 100%;
}
#flexContainer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
.infoPrimary {
  width: 33%;
  padding: 0 0.5em 0 0.5em;
  align: center;
}
.infoPrimary .titleCard {
  font-size: 1.5em;
  font-weight: bolder;
}
.infoPrimary .authorship {
  font-size: 0.8em;
}
.infoPrimary .authorship a{
  font-weight: bold;
}
.infoPrimary .dateUpdated {
  font-size: 0.8em;
}
.infoSecondary {
  width: 33%;
  padding: 0.5em;
  font-size: 1em;
}
.startOver {
  width: 33%;
  text-align: center;
}
.startOver button{
  font-family: 'Copse', serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  background-color: white;
  border: 0;
}
main {
  width: 100%;
}
.messageDisplay{
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em;
}
.mainWindow{
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.mainWindow div {
  flex-grow: 1;
  margin: 0.25em 0.5em 0.25em 0.5em;
}
.mainWindow button{
  font-family: 'Copse', serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  padding: 0.15em 0.6em 0.15em 0.6em;
  background-color: white;
  border: 0;
  margin: 0;
}
footer {
  padding: 0 0.5em 0.5em 0.5em;
}
.achievements{
  text-align: left;
  font-weight: bold;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}
.achievement{
  font-weight: bold;
  padding-left: 0.5em;
}
#sOverall{
  color: red;
}
.scores{
  font-size: 0.8em;
  display: block;
  padding-left: 1em;
}
.scores>div{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;     /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari */
  display: flex;
}
.scores>div>div:first-child{
  font-weight: bold;
}
.score{
  padding-left: .5em;
}
.finalSentence{
  text-align: left;
  margin: 0 !important;
}
.shareButtons{
  display: inline;
  font-size: 0.5em;
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  .mainWindow{
    font-size: 5vw;
}
